<% content_for :title, "Volunteer Manager" %>

<h1>Volunteer Manager</h1>
<p>Please log in to continue, or create a volunteer account.</p>

<p><%= link_to "Log In", login_path %></p>
<p><%= link_to "Volunteer Sign Up", signup_path %></p>
